*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

/* FLEX TAG */
.flex-container{
    display: flex;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-center{
    align-items: center;
}


body{
    background-color: black;
    flex-direction: column ;
    justify-content: space-between;
}

/* HEADER */
.header-container{
    justify-content: flex-end;
}

.header-container span{
    margin: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 28px;
    border-radius: 5px;
}

/* MAIN */
.video-call-container{
    flex-wrap: wrap;
    overflow-y: scroll;
    margin: auto;
    justify-content: center;
    flex-shrink: 0;
    gap: 7px;
}

.user{
    width: 300px;
    height: 200px;
    background-image: url("https://picsum.photos/200/300");
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
}

.user span{
    height: 30px;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* FOOTER */
footer{
    justify-content: space-between;
    align-items: flex-end;
}

footer i{
    font-size: 2rem;
}

.fa-chevron-up{
    font-size: 1rem;
}

footer div{
    margin: 0 10px;

}

/* CLASSI COMUNI */
.full-width{
    width: 99vw;
}

.full-height{
    height: 100vh;
}

.width-90{
    width: 90vw;
}

.height-call{
    height: calc(100vh - 160px);
}

.height-100{
    height: 100px;
}

.height-60{
    height: 60px;
}

.white{
    color: white;
}