*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.flex-container{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

body{
    background-color: black;
    flex-direction: column ;
    justify-content: space-between;
}

/* HEADER */
.header-container{
    justify-content: flex-end;
}

.header-container span{
    margin: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 28px;
    border-radius: 5px;
}

/* MAIN */
.video-call-container{
    flex-wrap: wrap;
    overflow-y: scroll;
    margin: auto;
}

.user{
    width: 300px;
    height: 200px;
    background-image: url("https://picsum.photos/200/300");
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
}

.user span{
    height: 30px;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.5);
}
/* CLASSI COMUNI */
.full-width{
    width: 100vw;
}

.width-90{
    width: 90vw;
}

.height-75{
    height: 75vh;
}

.height-10{
    height: 10vh;
}

.height-7{
    height: 7vh;
}

.white{
    color: white;
}